
<h2>Sobre.</h2>

<hr />
<div class="jumbotron" style="padding:10px;">
    <h4>
        A presente plataforma foi implementada para a realização do trabalho prático para a discplina de PWEB do terceiro ano de
        Licenciatura em Engenharia Informática do ISEC - Instituto Superior de Engenharia de Coimbra.
    </h4>

    <h4>
        Esta aplicação permiti a qualquer cidadão alugar veículos elétricos disponibilizados por entidades privadas ou profissionais.
    </h4>

   

</div>

<div class="jumbotron" style="padding:10px;">
    <h4>Contacto:a21240125@isec.pt</h4>
</div>

<div>
    <button type="button" class="btn btn-secondary btn-sm" onclick="history.go(-1); return false;" href="#">
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Voltar
    </button>
</div>